<!DOCTYPE html>
<html lang="en">
<head>
  <title>BOOOOOOOM!</title>
</head>
<body>
<h3>Just testing some things lol</h3>
<p>Booo0000OOOOOOOmmmmmmmmmmmm</p>
</body>

<footer>
  <a href="./info">yahayah</a><br>
  <a href="./">hubbadubba</a>
</footer>
</html>