<!DOCTYPE html>
<html>
<head>
   <title>My First View!!</title>
</head>
<body>
   <h1>Hello World</h1>
   <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>

   <h2>This is a list of Ricky's favorite albums</h2>
      <ol>Boy in Da Corner</ol>
      <ol>The Chronic</ol>
      <ol>Turn on the Bright Lights</ol>
</body>
</html>