<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Very First Christmas!!</title>
</head>
<body>
<h1>Hello World</h1>
<p>This HTML code is inside of a '.erb' file in the views directory, where it belongs</p>
</body>
<footer>
  <a href="./info">yahayah</a><br>
  <a href="./boom">testing testing weeewooooweeeewooooooo</a>
</footer>
</html>