<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me!</p>
        <p>I like cheese</p>
        <p> sharp chedder cheese not american cheese</p>
        <p> Sinatra is more exciting than active records </p>
        <p> I'm turning 30 years old but everyone thinks i'm 20 or younger</p>
    </body>
</html>
